<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" />
    </label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded=expanded>
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
            <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>
            <FluentNavLink Href="markdown" Icon="@(new Icons.Regular.Size20.Markdown())" IconColor="Color.Accent">Markdown</FluentNavLink>        
            
            <FluentNavGroup Id="FanewsGroup" Title="Fanews Business" @bind-Expanded=eventExpanded Icon="@(new Icons.Regular.Size20.FoodToast())">
                <FluentNavLink Href="events" Icon="@(new Icons.Regular.Size20.ClockBill())" IconColor="Color.Accent">Events</FluentNavLink>
                <FluentNavLink Href="prompts" Icon="@(new Icons.Regular.Size20.CommentNote())" IconColor="Color.Accent">Prompts</FluentNavLink>
            </FluentNavGroup>

            <FluentNavGroup Id="ChatGroup" Title="Chat Group" @bind-Expanded=chatExpanded Icon="@(new Icons.Regular.Size20.Chat())">
                <FluentNavLink Href="chat/interlocution" Icon="@(new Icons.Regular.Size20.ChatEmpty())" IconColor="Color.Accent">Interlocution</FluentNavLink>
                <FluentNavLink Href="chat/multiple" Icon="@(new Icons.Regular.Size20.ChatMultiple())" IconColor="Color.Accent">Multiple Chat</FluentNavLink>
            </FluentNavGroup>

            <FluentNavGroup Id="WorkflowGroup" Title="Workflow" @bind-Expanded=workflowExpanded Icon="@(new Icons.Regular.Size20.Feed())">
                <FluentNavLink Href="workflow/diagram" Icon="@(new Icons.Regular.Size20.Feed())" IconColor="Color.Accent">Diagram</FluentNavLink>
                <FluentNavLink Href="workflow/drag-and-drop" Icon="@(new Icons.Regular.Size20.Feed())" IconColor="Color.Accent">Drag</FluentNavLink>
            </FluentNavGroup>

            <FluentNavGroup Id="StockGroup" Title="Stock" @bind-Expanded=stockExpanded Icon="@(new Icons.Regular.Size20.Feed())">
                <FluentNavLink Href="events" Icon="@(new Icons.Regular.Size20.Feed())" IconColor="Color.Accent">Events</FluentNavLink>
            </FluentNavGroup>

       </FluentNavMenu>
    </nav>
</div>

@code {
    bool expanded = true;

    bool chatExpanded = true;

    bool eventExpanded = true;

    bool workflowExpanded = true;

    bool stockExpanded = true;
}
